USE [TTS]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 6/19/2026 10:24:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IpAddress] [varchar](45) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileAttachments]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileAttachments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileType] [nvarchar](100) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[FileSizeInBytes] [bigint] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FileAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [bigint] IDENTITY(1,1) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[ParentMenuId] [bigint] NULL,
	[MenuName] [nvarchar](100) NOT NULL,
	[MenuUrl] [nvarchar](200) NULL,
	[Icon] [nvarchar](50) NULL,
	[Visible] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedById] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedById] [bigint] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[recipient_id] [bigint] NOT NULL,
	[sender_id] [bigint] NULL,
	[notification_type] [tinyint] NOT NULL,
	[source_type] [varchar](20) NOT NULL,
	[source_id] [bigint] NOT NULL,
	[is_read] [bit] NULL,
	[read_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[title] [nvarchar](255) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[ActionName] [nvarchar](100) NOT NULL,
	[ApiName] [nvarchar](100) NOT NULL,
	[HttpMethod] [nvarchar](20) NULL,
	[Visible] [bit] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedById] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedById] [bigint] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMembers]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMembers](
	[ProjectId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
 CONSTRAINT [PK_ProjectMembers] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedById] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[BudgetedHours] [int] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenus]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenus](
	[RoleMenuId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedById] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedById] [bigint] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_RoleMenus_New] PRIMARY KEY CLUSTERED 
(
	[RoleMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedById] [bigint] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedById] [bigint] NULL,
	[UpdatedAt] [datetime2](0) NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RolePermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskHistories]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskHistories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[ModifiedById] [bigint] NOT NULL,
	[OldStatusId] [bigint] NULL,
	[NewStatusId] [bigint] NULL,
	[OldPriorityId] [bigint] NULL,
	[NewPriorityId] [bigint] NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_TaskHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProjectId] [bigint] NOT NULL,
	[StatusId] [bigint] NOT NULL,
	[PriorityId] [bigint] NOT NULL,
	[AssignedTo] [bigint] NULL,
	[AssignedBy] [bigint] NULL,
	[EstimatedHours] [decimal](5, 2) NULL,
	[ActualHours] [decimal](5, 2) NULL,
	[DueDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsArchived] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeLogs]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[HoursLogged] [decimal](5, 2) NOT NULL,
	[LogDate] [date] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TimeLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_devices]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_devices](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[fcm_token] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/19/2026 10:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [Module], [Description], [IpAddress], [CreatedAt]) VALUES (1, 1, N'AssignAccess', N'Role', N'Assigned access permissions to role ''Manager'' (ID: 2)', N'127.0.0.1', CAST(N'2026-06-17T06:57:54.897' AS DateTime))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [Module], [Description], [IpAddress], [CreatedAt]) VALUES (2, 1, N'AssignAccess', N'Role', N'Assigned access permissions to role ''Manager'' (ID: 2)', N'127.0.0.1', CAST(N'2026-06-17T06:59:13.933' AS DateTime))
INSERT [dbo].[AuditLogs] ([Id], [UserId], [Action], [Module], [Description], [IpAddress], [CreatedAt]) VALUES (3, 2, N'AssignAccess', N'Role', N'Assigned access permissions to role ''Employee'' (ID: 3)', N'127.0.0.1', CAST(N'2026-06-17T06:59:40.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [TaskId], [UserId], [Message], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, 7, 12, N'pee p', CAST(N'2026-06-17T08:30:02.243' AS DateTime), 12, NULL, NULL, 0)
INSERT [dbo].[Comments] ([Id], [TaskId], [UserId], [Message], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, 41, 12, N'hi', CAST(N'2026-06-17T08:44:20.520' AS DateTime), 12, CAST(N'2026-06-17T08:44:25.987' AS DateTime), 12, 1)
INSERT [dbo].[Comments] ([Id], [TaskId], [UserId], [Message], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, 41, 12, N'hihi', CAST(N'2026-06-17T08:44:32.903' AS DateTime), 12, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([MenuId], [MenuCode], [ParentMenuId], [MenuName], [MenuUrl], [Icon], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (1, N'DASHBOARD', NULL, N'Dashboard', NULL, N'layout-grid', 0, 0, 1, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, CAST(N'2026-06-19T15:45:49.0000000' AS DateTime2))
INSERT [dbo].[Menus] ([MenuId], [MenuCode], [ParentMenuId], [MenuName], [MenuUrl], [Icon], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (2, N'PROJECTS', NULL, N'Projects', NULL, N'folder-kanban', 1, 2, 0, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Menus] ([MenuId], [MenuCode], [ParentMenuId], [MenuName], [MenuUrl], [Icon], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (3, N'PROJECTS_LIST', 2, N'Project List', N'/projects/all', N'list', 1, 3, 0, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [recipient_id], [sender_id], [notification_type], [source_type], [source_id], [is_read], [read_at], [created_at], [title], [body]) VALUES (1, 14, 1, 2, N'task', 1, 1, CAST(N'2026-06-18T10:23:03.7644258' AS DateTime2), CAST(N'2026-06-18T10:16:06.9643960' AS DateTime2), N'Task status changed', N'Task ''Portal landing page'' changed from Done to In Progress')
INSERT [dbo].[notifications] ([id], [recipient_id], [sender_id], [notification_type], [source_type], [source_id], [is_read], [read_at], [created_at], [title], [body]) VALUES (2, 2, 1, 2, N'task', 1, 0, NULL, CAST(N'2026-06-18T10:16:06.9645153' AS DateTime2), N'Task status changed', N'Task ''Portal landing page'' changed from Done to In Progress')
INSERT [dbo].[notifications] ([id], [recipient_id], [sender_id], [notification_type], [source_type], [source_id], [is_read], [read_at], [created_at], [title], [body]) VALUES (3, 14, 1, 2, N'task', 1, 1, CAST(N'2026-06-18T12:46:13.7896047' AS DateTime2), CAST(N'2026-06-18T12:19:30.7116861' AS DateTime2), N'Task status changed', N'Task ''Portal landing page'' changed from In Progress to Done')
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionCode], [MenuId], [ActionName], [ApiName], [HttpMethod], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (1, N'Projects_List', 2, N'List', N'api/Project', N'GET', 1, 1, 0, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionCode], [MenuId], [ActionName], [ApiName], [HttpMethod], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (2, N'Projects_Create', 2, N'Create', N'api/Project', N'POST', 1, 2, 0, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionCode], [MenuId], [ActionName], [ApiName], [HttpMethod], [Visible], [OrderNo], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (3, N'Projects_Update', 2, N'Update', N'api/Project', N'PUT', 1, 3, 0, 1, CAST(N'2026-06-01T08:00:00.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
INSERT [dbo].[ProjectMembers] ([ProjectId], [UserId], [CreatedAt], [CreatedBy]) VALUES (1, 2, CAST(N'2026-06-19T09:48:29.983' AS DateTime), NULL)
INSERT [dbo].[ProjectMembers] ([ProjectId], [UserId], [CreatedAt], [CreatedBy]) VALUES (1, 3, CAST(N'2026-06-19T09:48:30.023' AS DateTime), NULL)
INSERT [dbo].[ProjectMembers] ([ProjectId], [UserId], [CreatedAt], [CreatedBy]) VALUES (1, 12, CAST(N'2026-06-19T09:48:30.023' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Name], [Description], [StartDate], [EndDate], [CreatedById], [CreatedDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [BudgetedHours]) VALUES (1, N'Yangon Customer Portal', N'Customer portal for Yangon branches', CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-08-31T00:00:00.000' AS DateTime), 1, CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 160)
INSERT [dbo].[Projects] ([Id], [Name], [Description], [StartDate], [EndDate], [CreatedById], [CreatedDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [BudgetedHours]) VALUES (2, N'Mandalay Inventory System', N'Warehouse and stock tracking for Mandalay team', CAST(N'2026-06-03T00:00:00.000' AS DateTime), CAST(N'2026-09-15T00:00:00.000' AS DateTime), 1, CAST(N'2026-06-03T00:00:00.000' AS DateTime), CAST(N'2026-06-03T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 220)
INSERT [dbo].[Projects] ([Id], [Name], [Description], [StartDate], [EndDate], [CreatedById], [CreatedDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted], [BudgetedHours]) VALUES (3, N'Nay Pyi Taw HR Tracker', N'HR workflow and leave tracking', CAST(N'2026-06-05T00:00:00.000' AS DateTime), CAST(N'2026-09-30T00:00:00.000' AS DateTime), 1, CAST(N'2026-06-05T00:00:00.000' AS DateTime), CAST(N'2026-06-05T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 180)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleMenus] ON 

INSERT [dbo].[RoleMenus] ([RoleMenuId], [RoleId], [MenuId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (1, 3, 1, 0, NULL, CAST(N'2026-06-17T10:20:39.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[RoleMenus] ([RoleMenuId], [RoleId], [MenuId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (2, 3, 3, 0, NULL, CAST(N'2026-06-17T10:20:39.0000000' AS DateTime2), 1, CAST(N'2026-06-18T04:35:14.0000000' AS DateTime2))
INSERT [dbo].[RoleMenus] ([RoleMenuId], [RoleId], [MenuId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (3, 3, 2, 0, NULL, CAST(N'2026-06-17T10:20:39.0000000' AS DateTime2), 1, CAST(N'2026-06-18T04:35:14.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RoleMenus] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (1, 3, 1, 0, NULL, CAST(N'2026-06-17T10:20:39.0000000' AS DateTime2), 1, CAST(N'2026-06-18T04:35:14.0000000' AS DateTime2))
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (2, 3, 5, 0, NULL, CAST(N'2026-06-17T10:20:39.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[RolePermissions] ([RolePermissionId], [RoleId], [PermissionId], [IsDeleted], [CreatedById], [CreatedAt], [UpdatedById], [UpdatedAt]) VALUES (3, 1, 1, 0, NULL, CAST(N'2026-06-17T14:55:11.0000000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, N'Admin', N'Full system access', CAST(N'2026-06-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, N'Manager', N'Project-scoped manager', CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, N'Employee', N'Task-level team member', CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskHistories] ON 

INSERT [dbo].[TaskHistories] ([Id], [TaskId], [ModifiedById], [OldStatusId], [NewStatusId], [OldPriorityId], [NewPriorityId], [Remarks], [CreatedBy], [CreatedAt]) VALUES (1, 14, 12, 2, 3, NULL, NULL, N'Completed and approved', 12, CAST(N'2026-06-11T10:00:00.000' AS DateTime))
INSERT [dbo].[TaskHistories] ([Id], [TaskId], [ModifiedById], [OldStatusId], [NewStatusId], [OldPriorityId], [NewPriorityId], [Remarks], [CreatedBy], [CreatedAt]) VALUES (2, 15, 13, 2, 3, NULL, NULL, N'Completed and approved', 13, CAST(N'2026-06-13T10:00:00.000' AS DateTime))
INSERT [dbo].[TaskHistories] ([Id], [TaskId], [ModifiedById], [OldStatusId], [NewStatusId], [OldPriorityId], [NewPriorityId], [Remarks], [CreatedBy], [CreatedAt]) VALUES (3, 16, 14, 2, 3, NULL, NULL, N'Completed and approved', 14, CAST(N'2026-06-17T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaskHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [ProjectId], [StatusId], [PriorityId], [AssignedTo], [AssignedBy], [EstimatedHours], [DueDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, N'Portal landing page', N'Landing page cleanup for Yangon Customer Portal', 1, 3, 2, 14, 5, CAST(12.00 AS Decimal(5, 2)), CAST(N'2026-06-19T00:00:00.000' AS DateTime), CAST(N'2026-06-01T00:00:00.000' AS DateTime), 8, CAST(N'2026-06-18T12:33:55.640' AS DateTime), 1, 0)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [ProjectId], [StatusId], [PriorityId], [AssignedTo], [AssignedBy], [EstimatedHours], [DueDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, N'Login and role routing', N'Login flow and redirect rules', 1, 3, 3, 14, 4, CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-06-14T00:00:00.000' AS DateTime), CAST(N'2026-06-01T00:00:00.000' AS DateTime), 8, CAST(N'2026-06-18T12:45:53.723' AS DateTime), 1, 0)
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [ProjectId], [StatusId], [PriorityId], [AssignedTo], [AssignedBy], [EstimatedHours], [DueDate], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, N'Customer profile form', N'Profile edit and validation', 1, 3, 2, 14, 10, CAST(8.00 AS Decimal(5, 2)), CAST(N'2026-06-18T00:00:00.000' AS DateTime), CAST(N'2026-06-01T00:00:00.000' AS DateTime), 2, CAST(N'2026-06-17T00:00:00.000' AS DateTime), 14, 0)
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeLogs] ON 

INSERT [dbo].[TimeLogs] ([Id], [TaskId], [UserId], [HoursLogged], [LogDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, 1, 12, CAST(11.00 AS Decimal(5, 2)), CAST(N'2026-06-11' AS Date), N'Completed work log', CAST(N'2026-06-11T18:00:00.000' AS DateTime), 12, NULL, NULL, 0)
INSERT [dbo].[TimeLogs] ([Id], [TaskId], [UserId], [HoursLogged], [LogDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, 2, 13, CAST(9.00 AS Decimal(5, 2)), CAST(N'2026-06-13' AS Date), N'Completed work log', CAST(N'2026-06-13T18:00:00.000' AS DateTime), 13, NULL, NULL, 0)
INSERT [dbo].[TimeLogs] ([Id], [TaskId], [UserId], [HoursLogged], [LogDate], [Notes], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, 3, 14, CAST(7.00 AS Decimal(5, 2)), CAST(N'2026-06-17' AS Date), N'Completed work log', CAST(N'2026-06-17T18:00:00.000' AS DateTime), 14, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[TimeLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[user_devices] ON 

INSERT [dbo].[user_devices] ([id], [user_id], [fcm_token], [created_at], [updated_at]) VALUES (1, 1, N'f9xT8zNR1n-gP8mq_vKOKh:APA91bE2ZFBGweTvPmGRP3-UQjoI3y0KOP0OJQzpakLIJtSReIrnoojFXJhMcgV7RnFYsxTqJnpAD0BLOK9EbxaJFD7vVIDv0n0pWLu9YUkdpBhEXzsa5QA', CAST(N'2026-06-18T10:10:20.5503837' AS DateTime2), CAST(N'2026-06-18T10:10:20.5503837' AS DateTime2))
INSERT [dbo].[user_devices] ([id], [user_id], [fcm_token], [created_at], [updated_at]) VALUES (5, 12, N'f9xT8zNR1n-gP8mq_vKOKh:APA91bG0eCXbo6R6EX191AsBqlPT8i35kuw2d1PfRLzWSRPBK2DYiQKGA62lRWdDmQ6epDqvq4YA_bMmsXPDupxN7LwazvlCrv1TkZfWzMVZmy4qYu9OK4w', CAST(N'2026-06-18T10:19:29.1287816' AS DateTime2), CAST(N'2026-06-18T10:19:29.1287816' AS DateTime2))
INSERT [dbo].[user_devices] ([id], [user_id], [fcm_token], [created_at], [updated_at]) VALUES (7, 1, N'f9xT8zNR1n-gP8mq_vKOKh:APA91bFXBhbsJRiAbhrzPraeGLNsPS5Dsr9P5EZC9HkI7QFQSkDykSUaU_Zt8vqrlvLwTclKFc6Vou-Sc-p3szOy6jmRQpSCYpHPxp0NnpXi6b24BnJ07zg', CAST(N'2026-06-18T12:44:03.9519517' AS DateTime2), CAST(N'2026-06-18T12:44:03.9519517' AS DateTime2))
SET IDENTITY_INSERT [dbo].[user_devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [RoleId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (1, N'admin', N'System', N'Admin', N'admin@tts.local', N'AQAAAAIAAYagAAAAECvk1uHPJiU8Uh+ZE5Gu8KnSE2sfPzF/gWE6WIPftNBpBTE+xeWUsNZJ74vj/WUiQA==', N'09111111111', 1, 1, CAST(N'2026-06-01T00:00:00.000' AS DateTime), NULL, CAST(N'2026-06-19T15:46:13.323' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [RoleId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (2, N'mgr01', N'Kyaw Kyaw', N'Aung', N'mgr01@tts.local', N'AQAAAAIAAYagAAAAEOgN6MzeoxlSLef4b6w5eQ9EO4Lsllm8iMXbM7Nt/e2vJEeSfadZKOHI4wg3OmWlcQ==', N'09200000002', 2, 1, CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, CAST(N'2026-06-16T09:32:15.587' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [RoleId], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [IsDeleted]) VALUES (3, N'mgr02', N'Min Min', N'Htun', N'mgr02@tts.local', N'HASHED_P@ssw0rd123!', N'09200000003', 2, 1, CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Menus_MenuCode]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [UQ_Menus_MenuCode] UNIQUE NONCLUSTERED 
(
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Permissions_PermissionCode]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [UQ_Permissions_PermissionCode] UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RoleMenus_Role_Menu]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[RoleMenus] ADD  CONSTRAINT [UQ_RoleMenus_Role_Menu] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePermissions_Role_Permission]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [UQ_RolePermissions_Role_Permission] UNIQUE NONCLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Name]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_user_token]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[user_devices] ADD  CONSTRAINT [uq_user_token] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[fcm_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 6/19/2026 10:24:25 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[FileAttachments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FileAttachments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_OrderNo]  DEFAULT ((0)) FOR [OrderNo]
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Menus] ADD  CONSTRAINT [DF_Menus_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_title]  DEFAULT ('') FOR [title]
GO
ALTER TABLE [dbo].[notifications] ADD  CONSTRAINT [DF_notifications_body]  DEFAULT ('') FOR [body]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_Visible]  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_OrderNo]  DEFAULT ((0)) FOR [OrderNo]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectMembers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  CONSTRAINT [DF_RoleMenus_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RoleMenus] ADD  CONSTRAINT [DF_RoleMenus_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [DF_RolePermissions_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  CONSTRAINT [DF_RolePermissions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TaskHistories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((2)) FOR [PriorityId]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tasks] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TimeLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeLogs] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[user_devices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_devices] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Tasks]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[FileAttachments]  WITH CHECK ADD  CONSTRAINT [FK_FileAttachments_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
GO
ALTER TABLE [dbo].[FileAttachments] CHECK CONSTRAINT [FK_FileAttachments_Tasks]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menus_ParentMenu] FOREIGN KEY([ParentMenuId])
REFERENCES [dbo].[Menus] ([MenuId])
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_Menus_ParentMenu]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_recipient] FOREIGN KEY([recipient_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notifications_recipient]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [fk_notifications_sender]
GO
ALTER TABLE [dbo].[Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([MenuId])
GO
ALTER TABLE [dbo].[Permissions] CHECK CONSTRAINT [FK_Permissions_Menu]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembers_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectMembers_Projects]
GO
ALTER TABLE [dbo].[ProjectMembers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMembers] CHECK CONSTRAINT [FK_ProjectMembers_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users_CreatedById]
GO
ALTER TABLE [dbo].[RoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_RoleMenus_Menus] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([MenuId])
GO
ALTER TABLE [dbo].[RoleMenus] CHECK CONSTRAINT [FK_RoleMenus_Menus]
GO
ALTER TABLE [dbo].[RoleMenus]  WITH CHECK ADD  CONSTRAINT [FK_RoleMenus_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RoleMenus] CHECK CONSTRAINT [FK_RoleMenus_Roles]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles]
GO
ALTER TABLE [dbo].[TaskHistories]  WITH CHECK ADD  CONSTRAINT [FK_TaskHistories_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskHistories] CHECK CONSTRAINT [FK_TaskHistories_Tasks]
GO
ALTER TABLE [dbo].[TaskHistories]  WITH CHECK ADD  CONSTRAINT [FK_TaskHistories_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TaskHistories] CHECK CONSTRAINT [FK_TaskHistories_Users_CreatedBy]
GO
ALTER TABLE [dbo].[TaskHistories]  WITH CHECK ADD  CONSTRAINT [FK_TaskHistories_Users_ModifiedBy] FOREIGN KEY([ModifiedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TaskHistories] CHECK CONSTRAINT [FK_TaskHistories_Users_ModifiedBy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users_AssignedBy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users_AssignedTo] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users_AssignedTo]
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogs_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeLogs] CHECK CONSTRAINT [FK_TimeLogs_Tasks]
GO
ALTER TABLE [dbo].[TimeLogs]  WITH CHECK ADD  CONSTRAINT [FK_TimeLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TimeLogs] CHECK CONSTRAINT [FK_TimeLogs_Users]
GO
ALTER TABLE [dbo].[user_devices]  WITH CHECK ADD  CONSTRAINT [fk_user_devices_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_devices] CHECK CONSTRAINT [fk_user_devices_users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
