.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: var(--app-bg);
}

.sidebar {
    background-color: #0F172A;
}

.top-row {
    background-color: #ffffff;
    border-bottom: 1px solid #E5E7EB;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #6B7280;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
    text-decoration: underline;
    color: #111827;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

#blazor-error-ui {
    background: #FFE4E6;
    color: #991B1B;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
